<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
</head>
<body>
{% block page_header %}
<h2>{{ owner }}'s blogs.</h2>
{% endblock page_header %}

{% block content %}
<ul>
    {% for blog in blogs %}
        <li>
            <a href="{% url 'blog:blog' blog.id %}">{{ blog.name }}</a>
        </li>
    {% empty %}
        <li>This profile has no blogs.</li>
    {% endfor %}
</ul>
{% if user.is_authenticated and user.id == owner.id%}
    <a href="{% url 'blog:new_blog' %}">New blog</a>
    <a href="{% url 'password_change' %}">Change password</a>
    <a href="{% url 'users:delete_user' user.id %}">Delete account</a>
{% endif %}
{% endblock content %}
</body>
</html>