{% extends 'base.html' %}
{% block page_header %}
<h3>All blogs:</h3>
{% endblock page_header %}

{% block content %}
<div container>
    {% for blog in blogs %}
    <div class="row justify-content-center mb-2">
        <div class="col-sm-8">
            <div class="card mb-2">
                <div class="card-body">
                    <h4 class="card-title">{{ blog.name }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{ blog.date_modified }} by <a href="{% url 'users:profile' blog.author.id %}">{{ blog.author }}</a></h6>
                    <p class="card-text">{{ blog.description}}...</p>
                    <a class="btn btn-primary" href="{% url 'blog:blog' blog.id %}" role="button">Checkout blog</a>
                </div>
            </div>
        </div>

    </div>
    {% empty %}
    <h4>There are no blogs yet.</h4>
    {% endfor %}
</div>
{% endblock content %}