{% extends 'base.html' %}

{% block page_header %}
<div class="jumbotron">
    <h3>{{ blog.author }}'s blog</h3>
    <p class="lead text-muted">{{ blog.date_modified }} by <a href="{% url 'users:profile' blog.author.id %}">{{ blog.author }}</a></p>
    <p>{{ blog.description }}</p>
    {% if user.is_authenticated and user.id == blog.author.id %}
    <a class="btn btn-primary mr-1" href="{% url 'blog:new_post' blog.id %}" role="button">New post</a>
    {% endif %}
{% endblock page_header %}

{% block content %}
<div container>
    {% for post in posts %}
    <div class="row justify-content-center mb-2">
        <div class="col-sm-8">
            <div class="card mb-2">
                <div class="card-body">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.date_modified }} by <a href="{% url 'blog:blogpost' post.id %}">{{ blog.author }}</a></h6>
                    <p class="card-text">{{ post.content|slice:":50" }}...</p>
                    <a class="btn btn-primary mr-1" href="{% url 'blog:blogpost' post.id %}" role="button">Read</a>
                    {% if user.is_authenticated and user.id == blog.author.id %}
                    <a class="btn btn-warning btn-sm mr-1" href="{% url 'blog:edit_post' post.id %}" role="button">Edit</a>
                    <a class="btn btn-danger btn-sm mr-1" href="{% url 'blog:delete_post' post.id %}" role="button">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    {% empty %}
    <h4>There are no blogs yet.</h4>
    {% endfor %}
</div>
{% endblock content %}