{% extends 'base.html' %}

{% block page_header %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-8"><a href="{% url 'users:profile' blog.author.id %}">{{ blog.author }}</a> | {{ blog.name }}</h2>
        <p class="lead">{{ blog.date_added.date }}</p>
        {% if blog.date_modified != blog.date_added %}
        <p class="lead">Modified: {{ blog.date_modified }}</p>
        {% endif %}

    {% if user.is_authenticated and user.id == owner.id %}
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-primary" href="{% url 'blog:edit_blog' blog.id %}"
               role="button">Rename blog</a>
            <a class="btn btn-danger" href="{% url 'blog:delete_blog' blog.id %}"
               role="button">Delete blog</a>
        </div>
    {% endif %}
    </div>
</div>
{% endblock page_header %}

{% block content %}
<h3>Posts:</h3>
<ul>
    {% for post in posts %}
        <a href="{% url 'blog:blogpost' post.id %}" class="btn btn-primary btn-block" role="button">{{ post.title }}</a>
    {% empty %}
    <div class="alert alert-primary" role="alert">
    There are no posts in this blog yet.
    </div>
    {% endfor %}
</ul>
{{ blog.content }}

{% if user.is_authenticated and user.id == owner.id%}
    <a class="btn btn-success" href="{% url 'blog:new_post' blog.id %}"
        role="button">New post</a>
{% endif %}

{% endblock content %}
