{% extends 'base.html' %}

{% block page_header %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2><a href="{% url 'blog:blog' post.blog.id %}">{{ post.blog }}</a> | {{ post.title }}</h2>
        <p class="lead">{{ post.date_added.date }}</p>
        {% if post.date_modified != post.date_added %}
        <p class="lead">Modified: {{ post.date_modified }}</p>
        {% endif %}

    {% if user.is_authenticated and user.id == owner.id %}
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-primary" href="{% url 'blog:edit_post' post.id %}"
               role="button">Edit post</a>
            <a class="btn btn-danger" href="{% url 'blog:delete_post' post.id %}"
               role="button">Delete post</a>
        </div>
    {% endif %}
    </div>
</div>
{% endblock page_header %}

{% block content %}
<p>{{ post.content }}</p>
{{ blog.content }}
<p>Likes: {{ likecount }}</p>
{% if user.is_authenticated %}
    <form action="{% url 'blog:like_post' post.id %}">
        {% if not user_has_liked %}
        <button type="submit" class="btn btn-primary">Like</button>
        {% else %}
        <button type="submit" class="btn btn-danger">Unlike</button>
        {% endif %}
    </form>
{% endif %}
{% endblock content %}